.scroll-to-top-button {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    background-color: #c01717;
    color: #fff;
    border: none;
    outline: none;
    font-size: 2.5rem;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.3s;
    z-index: 1200;
  }
  
  .scroll-to-top-button.show {
    display: flex;
  }
  
  .scroll-to-top-button:hover {
    opacity: 0.8;
  }

  @media (max-width: 75rem) {
    .scroll-to-top-bottom {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
  
  @media (max-width: 46.875rem) {
    .scroll-to-top-bottom {
      width: 1.875rem;
      height: 1.875rem;
    }
  }
  
  @media (max-width: 33.125rem) {
    .scroll-to-top-bottom {
      width: 1.5625rem;
      height: 1.5625rem;
    }
  }