.footer {
    background-color: rgb(136, 136, 136);
    padding-top: 3rem;
    padding-bottom: 0.4rem;
    text-align: center;
  }
  
  .footer-text {
    color: white;
    font-size: 14px;
  }

  .link {
  color: inherit;
  text-decoration: none;
  }

  .logo{
    width: 10%;
    margin-left: 2rem;
  }

  .dot{
    margin-left: 2rem;
  }