@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.footer {
    background-color: rgb(136, 136, 136);
    padding-top: 1.5rem;
    padding-bottom: 0.3rem;
    text-align: center;
  }
  
  .footer-text {
    color: white;
    font-size: 14px;
    font-family: 'Source Sans Pro', serif;
  }

  .link {
  color: inherit;
  text-decoration: none;
  }

  .logo{
    width: 10%;
    margin-left: 2rem;
  }

  .dot{
    margin-left: 2rem;
  }