@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.about-me-items {
  display: flex;
  justify-content: center;
  padding: 0 100px;
  height: 500px;
}

.about-me {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.paragraph-grid {
  width: 50%;
}

.paragraph-header {
  font-size: 2rem; /* Adjust the font size as needed */
  font-family: 'Playfair Display', serif;
}

.paragraph-header-top {
  font-size: 3rem; /* Adjust the font size as needed */
  font-family: 'Playfair Display', serif;
}

.paragraph-container {
  font-size: 1rem; /* Adjust the font size as needed */
  font-family: 'Source Sans Pro', serif;
}

.image-container {
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  margin: auto;
}

.es {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  height: auto;
}

.header {
  text-align: right;
  margin-right: 10%; /* Adjust the margin as needed */
  margin-top: 50px;
}

/* Media Queries */
@media (max-width: 768px) {
  .paragraph-header {
    font-size: 1rem; /* 50% smaller font size */
  }

  .paragraph-header-top {
    font-size: 1.5rem; /* 50% smaller font size */
  }

  .paragraph-container {
    font-size: 0.5rem; /* 50% smaller font size */
  }
}