@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.about-me-items {
  display: flex;
  justify-content: center;
  padding: 0 100px;
  height: 500px;
}

.about-me {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.paragraph-grid {
  width: 50%;
}

.paragraph-header {
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
}

.paragraph-header-top {
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
}

.paragraph-container {
  font-size: 1rem;
  font-family: 'Source Sans Pro', serif;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.es {
  max-width: 100%;
  height: auto;
}

.header {
  text-align: right;
  margin-right: 10%;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .paragraph-header {
    font-size: 1rem;
  }

  .paragraph-header-top {
    font-size: 1.5rem;
  }

  .paragraph-container {
    font-size: 0.5rem;
  }
}