@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.about-me-items {
  display: flex;
  justify-content: center;
  padding: 0 100px;
  height: 500px;
  background-color: #a5c7b6;
}

.about-me {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  background-color: #a5c7b6;
}

.paragraph-grid {
  width: 50%;
}

.paragraph-header {
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
}

.paragraph-header-top {
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
}

.paragraph-container {
  font-size: 1.15rem;
  font-family: 'Source Sans Pro', serif;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.es {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border: 2px solid black;
  margin-left: 10rem;
}

.header {
  text-align: right;
  margin-right: 10%;
  margin-top: 50px;
}

@media (max-width: 1200px) {
  .about-me {
    margin-top: 13px;
  }
  .es {
    max-width: 70%;
    height: auto;
    margin-left: 3rem;
  }
  .paragraph-header {
    font-size: 1.2rem;
  }

  .paragraph-header-top {
    font-size: 2rem;
  }

  .paragraph-container {
    font-size: 0.8rem;
  }
}

@media (max-width: 750px) {
  .es {
    max-width: 50%;
    height: auto;
    margin-left: 3rem;
  }
  .paragraph-header {
    font-size: 0.8rem;
  }

  .paragraph-header-top {
    font-size: 1.5rem;
  }

  .paragraph-container {
    font-size: 0.5rem;
  }
}

@media (max-width: 530px) {
  .es {
    max-width: 30%;
    height: auto;
    margin-left: 3rem;
  }
  .paragraph-header {
    font-size: 0.6rem;
  }

  .paragraph-header-top {
    font-size: 1.3rem;
  }

  .paragraph-container {
    font-size: 0.3rem;
  }
}