.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #c01717;
    color: #fff;
    border: none;
    outline: none;
    font-size: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.3s;
    z-index: 1200;
  }
  
  .scroll-to-top-button.show {
    display: flex;
  }
  
  .scroll-to-top-button:hover {
    opacity: 0.8;
  }