.slideshow {
    position: relative;
    width: 70%;
    height: 0;
    padding-bottom: 30%; /* Adjust this value to change the height-to-width ratio */
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .highlighted-text {
    position: absolute;
    top: 0.625rem;
    left: 0.625rem;
    color: #fff;
    font-size: 1.125rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
  }
  
  .navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
  }
  
  .arrow {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: #000;
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .arrow:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .prev {
    margin-left: 0.625rem;
  }
  
  .next {
    margin-right: 0.625rem;
  }